@charset "UTF-8";
html, body {
	margin: 0;
	padding: 0;
}
body {
	font-family:"PingFang SC","微软雅黑","Microsoft Yahei","文泉驿微米黑","WenQuanYi Micro Hei";
	background-image: url('backgroud.jpg');
	background-attachment: fixed;
	background-size: cover;
	color: #333;
}
p, pre, xmp, plaintext, listing {
	margin: .5rem 0;
}
a {
	text-decoration: none;
	color: #B7017E;
	transition: color 500ms;
}
a:hover {
	color: #DF29A6;
}
.nav-container {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
	box-shadow: 0px 0px 2px #000;
}
ul.nav {
	margin: 0;
	width: 100%;
	height: 52px;
	line-height: 32px;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.8);
}
ul.nav li {
	display: inline-block;
}
ul.nav li a {
	display: inline-block;
	color: #fff;
	padding: 10px 15px;
}
ul.nav li a:hover {
	background-color: #333;
}
.content {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	margin-bottom: 20px;
	padding: 20px;
	background-color: rgba(246, 244, 236, 0.8);
	border-radius: 5px;
	word-break: break-all;
	word-wrap: break-word;
}
.content code, #content pre {
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
}
.content img {
	max-width: 99%;
}
.content .links {
	padding-top: 20px;
	width: 100%;
	text-align: center;
	opacity: 0.3;
	transition: all 300ms;
}
.content .links .hidden {
	display: none;
}
.content .links:hover .hidden {
	display: block;
}
.content .links:hover {
	opacity: 1;
}
h1 {
	margin: 2px 0;
}
.footer {
	color: #fff;
	text-align: center;
	margin-bottom: 40px;
}