/* default font */
html, html body, div.book.font-family-1 {
    font-family:"Lantinghei SC","微软雅黑","Microsoft Yahei","文泉驿微米黑","WenQuanYi Micro Hei";
}
div.book.font-family-0 {
    font-family: "仿宋", "楷体", Georgia, serif;
}
.markdown-section h1, .markdown-section h2, .markdown-section h3, .markdown-section h4, .markdown-section h5, .markdown-section h6, .markdown-section b, .markdown-section strong {
    font-weight: 600;
}
/* twitter & facebook share */
.btn.pull-right.js-toolbar-action[aria-label=""] {
    display: none;
}
